<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento</title>
    <link rel="shortcut icon" href="../assets/images/favicon_io (3)/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/pagamento.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/botoes.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/nav.css">
</head>
<body>
    <form action="forma-pagamento" method="POST">
    <nav>
        <img src="../assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="logout">Sair</a></li>
            {% if session.logged_in and session.is_employee %}
            <li><a href="alterar-cardapio">Editar Cardápio</a></li>
            {% endif %}
        </ul>
    </nav>

    <main>
        <div class="container">
            <div class="pedidos"><p>Pedidos</p></div>
            <div class="qtd"><p>Quantidade</p></div>
            <div class="preco"><p>Preço</p></div>
        </div>
        <div class="container">
            <div class="caixa-ped">
                {% for pedido in pedidos %}
                <p>{{ pedido.itemPed }}</p>
                {% endfor %}
            </div>
            <div class="caixa-qtd">
                {% for pedido in pedidos %}
                <p>{{ pedido.quantidades }}</p>
                {% endfor %}
            </div>
            <div class="caixa-preco">
                {% for pedido in pedidos %}
                <p>{{ pedido.preco }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <div class="val-total">
                <p>Valor Total: {{ valor_total }}</p>
            </div>
        </div>
    </main>
    
    <div class="conteiner-section">
        <a class="voltar" href="forma-pagamento" style="list-style: none; text-decoration: none; color: black;">Voltar</a>
        <a class="cancelar" href="/" style="list-style: none;text-decoration: none; color: black;">Cancelar</a>
        <button class="confirmar" type="submit">Pagar</button>
    </div>
    </form>
</body>
</html>
