<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos em Espera</title>
    <link rel="shortcut icon" href="../assets/images/favicon_io (3)/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../assets/css/nav.css">
    <link rel="stylesheet" href="../assets/css/pedido_em_espera.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/botoes.css">
</head>
<body>
<form action="{{ url_for('pedido_pronto', numPed=pedido.numPed) }}" method="POST" style="display:inline;">
    <nav>
        <img src="../assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar">
        <ul>

            <li><a href="/">Home</a></li>
            <li><a href="logout">Sair</a></li>
            {% if session.logged_in and session.is_employee %}
            <li><a href="alterar-cardapio">Editar Cardápio</a></li>
            {% endif %}

        </ul>
    </nav>

    <main>
        <div class="caixa1">
            <div class="item1"><h2>Senha:</h2></div>
            <div class="item2">{{ pedido.numPed }}</div>
             <button class="item3">Pedido em Espera</button>
        </div>

        <div class="conteiner">
            <div class="pedidos">
                <p>Pedidos</p>
                {% for item in itens_pedido %}
                <div>{{ loop.index }}- {{ item.nome }}</div>
                {% endfor %}
            </div>


            <div class="qtde">
                <p>Quantidade</p>
                {% for item in itens_pedido %}
                <div>{{ item.quantidade }}</div>
                {% endfor %}
            </div>
        </div>
    </main>

    <section>
        <a class="voltar" href="{{ url_for('status_pedido') }}" style="list-style: none; text-decoration: none;">Voltar</a>
        <button class="confirmar" type="submit">Pronto</button>
    </section>
    </form>
</body>
</html>