<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/images/favicon_io (3)/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/ver_pedidos.css">
    <link rel="stylesheet" href="../assets/css/botoes.css">
    <link rel="stylesheet" href="../assets/css/nav.css">
    <title>Ver Pedidos</title>
</head>
<body>
    <nav>
        <img src="../assets/images/logonoveburguerbar.png" alt="Logotipo da Nove Burguerbar" loading="lazy">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="logout">Sair</a></li>
            {% if session.logged_in and session.is_employee %}
            <li><a href="alterar-cardapio">Editar Cardápio</a></li>
            {% endif %}

        </ul>
    </nav>
    <main>
        
        <h1>Pedidos</h1>
        <div class="conteiner">
            {% for pedido in pedidos %}
            <div class="caixa1" style="margin: 10px;">
                <p style="font-size: 30px; margin-top: 10px;">{{ pedido.numPed }}</p>
            </div>
            <div class="caixa2" style="margin: 10px;">
                <a href="pedido/{{ pedido.numPed }}">Ver Pedido</a>
            </div>
            {% else %}
            <p style="font-size: 20px; margin-top: 10px;">Nenhum pedido não concluído</p>
            {% endfor %}
        </div>
    </main>
    
    <section> 
        <div class="conteiner1">
             <a class="voltar" href="/">Voltar</a>
        </div>
    </section>
</body>
</html>